<!-- views/layouts/main.handlebars -->


<html>
  <head>
    <meta charset='utf-8' />
    <title>Rotten Potatoes</title>
    <!-- Latest compiled and minified CSS -->
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      crossorigin='anonymous'
    />
  </head>
  <body>

    {{> navbar}}
    <div class="container">
      {{{body}}}
    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js'
      crossorigin='anonymous'
    ></script>
  </body>
</html>